.cuerpo{
		padding-top:60px;
}
.body{
    margin-left: 100px;
    margin-right: 20px;
    width: 80%;
}
.section{
	height: 500px;
}
.footer{
	background-color: #999;
	height: 100px;	
}
.bg-seguimiento{
	background-color: #87CEEB;
}
.results{
	height: 500px;
	display: none;
}