body{
		padding-top:60px;
}
.navs{
    margin-left: 100px;
    margin-right: 20px;
    width: 80%;
}
.section{
	height: 500px;
}
.footer{
	background-color: #2F4F4F;
	height: 200px;	
}
.ftr-h4{
	color: #00BFFF;
}
.ftr-address{
	color: #C0C0C0;
}
.bg-seguimiento{
	background-color: #87CEEB;
}
.results{
	height: 500px;
	display: none;
}
.reg-text{
	color:#428BCA;
}
.reg-field{
	padding:5px 5px 5px 5px;
	border:1px solid #999;
	border-radius: 3px;
	box-shadow: 3px 3px 3px #999;
}
#titulo{
    color:#00FF00;
    font-family: AlexBrush-Regular;
    font-weight: bold;
    font-size: xx-large;
}
